<div
  ng-init="isOpen = open && open > 0"
  class="json-formatter-row">
  <div ng-if="!hide()">
  <a ng-click="toggleOpen()">
    <span class="toggler {{isOpen ? 'open' : ''}}" ng-if="isObject()"></span>
       {{displayKey() | title}}:
    <span class="value">
      <span ng-if="isObject()" title="{{isArray()?json.length:''}}">
        <span class="constructor-name"
        >{{getConstructorName(json) | title }}</span>
        <span class="small" ng-if="isArray()">({{json.length}})</span>
      </span>
      <span ng-if="!isObject()" ng-click="openLink(isUrl)" class="{{type}}" ng-class="{date: isDate, url: isUrl}">{{parseValue(json)}}</span>
    </span>
    <span ng-if="showThumbnail()" class="thumbnail-text">
      {{getThumbnail()}}
    </span>
  </a>
  <div class="children" ng-if="getKeys().length && isOpen">
    <json-formatter1
      ng-repeat="child_key in getKeys() track by $index"
      json="json[child_key]"
      key="child_key"
      parentkey="key"
      open="childrenOpen()">
    </json-formatter1>
  </div>
  <div class="children empty object" ng-if="isEmptyObject()"></div>
  <div class="children empty array" ng-if="getKeys() && !getKeys().length && isOpen && isArray()"></div>
</div>
</div>
