<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>
  <h1>{{pvm.rec.patient.name}}
    <small>
    {{pvm.rec.status.age}}yo
    {{pvm.rec.status.status}}
    </small>
  </h1>

<tabset active="activeForm">
<tab index="0" heading="Assess">
  <div class="well">
  <form
    name='reviewForm'
    sf-schema="pvm.schema"
    sf-form="pvm.form"
    sf-model="pvm.model"
    ng-submit="pvm.onSubmit(reviewForm)"  ></form>
    </div>

<accordion>
  <accordion-group heading="Raw" >
    <pre>{{pvm.model | json}} </pre>
  </accordion-group>
</accordion>
</tab>
<tab index="1" heading="History">
  <div class="well">
  <json-formatter1 json="pvm.rec.events" open="1" parentkey="'Events'"></json-formatter1>
  </div>

  <accordion>
    <accordion-group heading="Tabular" >
      <table tr-ng-grid items='pvm.rec.events' ></table>
    </accordion-group>
    <accordion-group heading="Raw" >
      <pre>
        {{pvm.rec | json}}
      </pre>
    </accordion-group>
  </accordion>
</tab>
</tabset>

</div>
