<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  <h1 ng-if="patients.selected[0]">
    Loading {{patients.selected[0].name}} <i class="fa fa-spinner fa-spin"></i>
  </h1>
  <table
    ng-if="!patients.selected[0]"
    tr-ng-grid items='patients.patients'
    selected-items="patients.selected"
    selection-mode="SingleRow"
  ></table>

<accordion>
  <accordion-group heading="Raw" >
    <pre>{{patients.patients | json}} </pre>
  </accordion-group>
</accordion>

</div>
